:root {
    --blue: #00669F;
    --green: #1CD1B0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}


/*header*/

header {
    margin-bottom: 3em;
}

.title {
    color:black;
    background-color: var(--blue);
    margin: 0;
    padding: 1em;
    height: 7em;
}

.h-line1 {
    color: black;
    background-color: var(--green);
    margin: 0;
    padding: 1em;
}

/*main*/

.cards-section {
    width:80%;
    height: fit-content;
    padding-left: 20%;   
}

.card-container {        
    width: min-content;
    position: relative;
    float: left;
    /* display: inline-block; */
    margin: 2em;
    top: 0;
    left: 0;    
}

.img-heart {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.img-back {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5 
}

.img-front {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 10;
    border-radius: 50%;
}

.info-container {
    margin-top: 6em; 
    text-align: center;
}

.info-container>h2 {
    text-align: center;
}

.info-container>p {
    text-align: justify;
}

.info-container>button {
   background-color: var(--blue);
   color: white;
   border-style: none;
   padding: 5px;
}

/*footer*/

footer {
    clear: both;
    background-color: var(--blue);
    color: white;
    padding: 2em;
    width: 100%;
}
