:root {
    --blue: #00669F;
    --green: #1CD1B0;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}


/*header*/

h1 {
    color:black;
    background-color: var(--blue);
    margin: 0;
    padding: 1em;
}

.h-line1 {
    color: black;
    background-color: var(--green);
    margin: 0;
    padding: 1em;
}

.cards-section {
    width: 100%;
    margin: 40% 0;
}

.card-container {
    margin: 15%;    
    width: min-content;   
    
}

.left {
    position: absolute;
    left: 0;
    top: 0;
}

.center {
    position: absolute;
    left: 28%;
    top: 0;
}

.right {
    position: absolute;
    left: 55%;
    top: 0;
}

.info-container {
    margin-top: 6em; 
    text-align: center;
}

.info-container>h2 {
    text-align: center;
}

.info-container>p {
    text-align: justify;
}

.info-container>button {
   background-color: var(--blue);
   color: white;
   border-style: none;
   padding: 5px;

}

.img-heart {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.img-back {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5 
}

.img-front {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 10;
    border-radius: 50%;
}

footer {
    background-color: var(--blue);
    color: white;
    padding: 2em;
}
